.main {
  display: flex;
  width: 80vw;
  margin: 0 auto;
  padding: 5em 2em;
}

.response {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 60%;
  background: url('../public/moveis.jpg') no-repeat right center;
  background-size: cover;
}

.response div {
  width: 80%;
  margin: 1em auto;
  padding: 1em;
  background-color: #cccccca4;
}

.response h2 {
  display: flex;
  justify-content: space-between;
  color: #1f1e1e;
  width: 80%;
  font-size: 1.6em;
  margin: .3em 0;
}

.response span {
  color: black;
  font-weight: 900;
  letter-spacing: .1em;
}

.main .cad {
  width: 40%;
  padding: 1em;
}

.form {
  display: flex;
  flex-direction: column;
}

.form label {
  font-size: 1em;
  font-weight: 700;
  padding-top: 1.5em;
}

.form input {
  border: 1px solid #ccc;
  padding: 10px 20px;
  margin: .5em 0;
}

.form input[type='submit'] {
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: blue;
  color: #fff;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: .2em;
  text-transform: uppercase;
  cursor: pointer;
  transition: .3s;
}

.form input[type='submit']:hover {
  border: 1px solid blue;
  background-color: #fff;
  color: blue;
}

@media screen and (max-width: 425px) {
  .main {
    flex-direction: column;
    width: 100vw;
    padding: 1em;
  }

  .response {
    width: 100%;
  }

  .main .cad {
    width: 100%;
  }
}